
@media only screen and (max-width: 768px) {
  .container {
    height: 100vh;
    background-color: yellow;
  }

  .title_container {
    background-color: red;
    height: 7vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_container {
    background-color: blue;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  input {
    height: 60px;
    width: 60%;
    font-size: 40px;
  }

  button {
    font-size: 40px;
    height: 60px;
    width: 30%;
    border-radius: 1%;
    outline: none;
    border-style: none;
  }

  .result_container {
    background-color: gray;
    height: 30vh;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .result_container > p {
    font-size: 50px;
  }
}