/* .app_container {
  display: flex;
  flex-direction: column;
  height: 1024px;
}

.title_container {
  background-color: red;
  height: 76px;
}

.main_cointainer {
  background-color: yellow;
  height: 948px;
} */

@media only screen and (max-width: 768px) {
  .app_container {
    height: 1024px;
  }

  .title_container {
    background-color: red;
    height: 76px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    justify-content: center;
    align-items: center;
  }

  .main_container {
    background-color: yellow;
    height: 948px;
    display: flex;
    /* border: 5px solid firebrick; */
    flex-direction: column;
    /* align-content: left; */
    /* justify-items: center; */
    /* flex: 2; */
        /* flex-basis: 50%; */

  }

  .input_container {
    /* border: 5px solid blue; */
    display: flex;
    /* flex-basis: 50%; */
    flex: 1;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  input {
    height: 60px;
    width: 550px;
    font-size: 40px;
  }

  button {
    font-size: 40px;
    height: 60px;
    border-radius: 10%;
  }

  .result_container {
    /* border: 5px solid green; */
    display: flex;
    /* flex-basis: 50%; */
    /* flex: 1; */
    flex-direction: column;
    justify-content: center;

    align-items: center;

  }

  .result_container > p {
    font-size: 40px;
  }
}