@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@media only screen and (max-width: 768px) {
  .container {
    height: 100vh;
    background-color: #add7f6;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(64, 64, 64);
    height: 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
  }

  .main_container {
    height: 93%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
  }

  .main_items {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }

  input {
    height: 60px;
    width: 70%;
    font-size: 40px;
  }

  input::placeholder {
    text-align: center;
  }

  button {
    height: 60px;
    width: 25%;
    background-color: #919098;
    border-radius: 5%;
    outline: none;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
  }

  .result_success {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-self: center;
  }

  .result_success > p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }

  .result_error {
    /* grid-row-start: 2; */
    /* justify-self: stretch; */
    /* align-self: center; */

    /* height: 30vh; */
    /* font-size: 40px; */
    /* font-family: 'Roboto', sans-serif; */
    /* text-align: left; */
  }
}